body{
    background-image: url('https://media.istockphoto.com/id/1371923818/vector/tropical-landscape-with-palm-trees-and-sunset-in-80s-style-summer-time-scarlet-gradient-sun.jpg?s=612x612&w=0&k=20&c=GXrJlUIaSDRfvuPldw0wMDm54QI7zBcJ7dmYe-0wu2M=');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.ud{
border: none;
cursor: pointer;
appearance: none;
background-color: inherit;
}


.flex-container {
display: flex;
}

.flex-child {
flex: 1;
border: 2px solid purple;
}  

.flex-child:first-child {
margin-right: 20px;
} 

.image
{
border: 2px solid yellow;
width : 200px;
height : 100px;
display: inline-block;
}